html {
   width: 100vw;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 10px;
}

body {
   background-color: lightgrey;
   margin: 0;
}

h1 {
   font-size: 4rem;
   background-color: black;
   color: white;
   text-align: center;
   padding: 1rem;
   margin: 0;
}

h2 {
   font-size: 3rem;

}

p, a {
   font-size: 2rem;
   font-family: 'Times New Roman', Times, serif;
}

.container {
   width: 100%;
   box-sizing: border-box;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
   grid-gap: 5rem;
   padding: 5rem;
}

#about p {
   margin-top: 6.5rem;
}

#contact li {
   list-style: none;
}